<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} <!-- تأكد من تحميل مكتبة static -->
        <title>Example of Formatting tags</title>
        <style>
            body {
                font-family: Arial, sans-serif;
            }
            .formatting-example {
                margin: 20px;
            }
            .formatting-example p {
                margin: 10px 0;
            }
        </style>
    </head>
    <body>
        <div class="formatting-example">
            <h2>Example of Formatting tags</h2>
            <p>This text has <b>subtext</b> using b tag</p>
            <p>This text has <strong>subtext</strong> using strong tag</p>
            <p>This text has <i>subtext</i> using i tag</p>
            <p>This text has <em>subtext</em> using em tag</p>
            <p>This text has <small>subtext</small> using small tag</p>
            <p>This text has <mark>subtext</mark> using mark tag</p>
            <p>This text has <del>subtext</del> using del tag</p>
            <p>This text has <ins>subtext</ins> using ins tag</p>
            <p>This text has X<sub>subtext</sub> using sub tag</p>
            <p>This text has X<sup>subtext</sup> using sup tag</p>
        </div>
    </body>
    </html>
    