<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Links Page</title>
</head>
<body>
    <div class="link-container green-background">
        <a href="https://www.qu.edu.qa" target="_blank" class="red-link">Go to QU website (open a new tab)</a>
    </div>
    <div class="link-container gray-background">
        <a href="https://www.qu.edu.qa" target="_self" class="yellow-link">Go to QU website (open in the same page/tab)</a>
    </div>
    <div class="link-container black-background">
        <a href="https://www.qu.edu.qa" target="_self" class="yellow-link">Go to QU website (open in the same page/tab)</a>
    </div>
</body>
</html>
